CONFIG_PATH="~/.oci/config" #OCI Config path
CONFIG_PROFILE="DEFAULT" #OCI profile name
OCI_REGION="us-chicago-1" #OCI Region
OCI_AUTH_MODE="api_key" #OCI Auth mode 
KNOWLEDGE_BASE_ID=None #ID of the KB for RAG 
AGENT_ID="ocid1.genaiagent.oc1.us-chicago-1.amaaaaaafigrwqya7wj4hhhzzzhkv4utyxlzp42fml2kiov77ebyyd7ty4ha" #OCI of the AGENT
AGENT_ENDPOINT_ID="ocid1.genaiagentendpoint.oc1.us-chicago-1.amaaaaaafigrwqya4wkkjmnsnvhnn6d2r5tjkfcpexvmfptbm2zq5ugubiiq" #OCI of the AGENT ENDPOINT
SERVICE_ENDPOINT="https://agent-runtime.generativeai.us-chicago-1.oci.oraclecloud.com" #OCI AGENT Service Endpoint 
COMPARTMENT_ID="ocid1.compartment.oc1..aaaaaaaaobl4umovbzcun7qwnlyzyseaukksqurbc5zcty7r7bdtz2ax3p2q" #Compartment OCID 